
//////////////////////////////
// 1. Patrones de colores
//////////////////////////////
$principal:#9391fd;
$secundario: #d2cf14;
$blanco:#A6E5F7;
//////////////////////////////
/// 2. Modificando las variables de Bootstrap
//////////////////////////////
$enable-shadows:true;
$enable-gradient:true;
$primary:$principal;
$light:$blanco;

@import "../libs/bootstrap/scss/bootstrap";