
//////////////////////////////
// 1. Patrones de colores
//////////////////////////////
$principal:#DAF7A6;
$secundario: #d2cf14;
$blanco:#273746;
//////////////////////////////
/// 2. Modificando las variables de Bootstrap
//////////////////////////////
$enable-shadows:true;
$enable-gradient:true;
$primary:$principal;
$light:$blanco;

@import "../libs/bootstrap/scss/bootstrap";